<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="container">
      <header class="sixteen columns">
        <%= render '/refinery/header' -%>
      </header>
    </div>
    <hr class="header-hr" />
    <div class="container">
      <section id="main-section">
        <%= yield %>
      </section>
    </div>
    <footer>
      <div class="container">
        <%= render '/refinery/footer' -%>
      </div>
      <%= render '/refinery/copyright'-%>
    </footer>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
